// Aninhamento
#conteudo {
    background-color: green;
    padding: 15px;
    h1 {
        color: purple;
    }
    a {
        color: red;
        // Seletor pai -> &
        &:hover {
            color: yellow;
        }
    }
}

// variaveis
$cor-titulo2: pink;
$bg-color-rodape: black;
$link-color2: white;

#rodape {
    background-color: $bg-color-rodape;
    padding: 15px;
    h1 {
        color: $cor-titulo2;
    }
    a {
        color: $link-color2;
    }
}

// Escopos
// Podemos alterar o valor de variaveis apenas num escopo
$cor-padrao: gray;

#um {
    color: $cor-padrao;
}
#dois {
    // escopo da variavel
    // Utilize !global para ampliar escopo de variavel
    $cor-padrao: blue !global;

    color: $cor-padrao;
}
#tres {
    color: $cor-padrao;
}

// Interpolação
// Recurso para utilizar variaveis com PROPRIEDADES e CLASSES,
// não apenas para VALORES - use #{}

$classe: red;
$classe: vermelho;

$color: color;

.#{$classe} {
    #{$color}: $classe;
}