// for | through - to
// through -> limite de execução, inclui o ultimo valor -> de 1 a 3 (inclui o 3)
// to -> limite de execução, não inclui o ultimo valor -> de 1 a 3 (faz de 1 a 2)

@for $i from 1 through 3 {
    .item-#{$i} {
        background-color: gray;
        margin-bottom: 2px;
        padding: 2px;
    }
}

// while

// @while () {
    
// }